.faq-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 50px;
}

.faq {
  padding: 20px;
  display: flex;
  gap: 1.4rem;
  height: fit-content;
  cursor: pointer;
  background-color: var(--color-success);
}
.faqs h2 {
  text-align: center;
  margin: 20px 0;
}
.faq .svg-inline--fa {
  font-size: 1.5rem;
}
