.portfolios-container {
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.portfolios-container h2 {
  text-align: center;
  margin: 5rem 0;
}
.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.portfolio {
  background-color: var(--color-success);
  transition: var(--transition);
  border: 1px solid transparent;
}
.portfolio:hover {
  background-color: transparent;
  border: 1px solid var(--color-success);
}
.portfolio-img img {
  height: 200px;
}
.portfolio-body {
  margin: 2rem 0.5rem 1rem;
}

.portfolio p {
  margin: 1rem 0 2rem;
  text-align: justify;
}
@media (max-width: 678px) {
  .portfolios-container {
    margin-top: 2rem;
  }
  .portfolios-container h2 {
    margin: 0 0 5rem 0;
  }
  .portfolios {
    grid-template-columns: 1fr;
  }
}
