.navbar {
  background-color: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 111;
  transition: var(--transition);
}
/* window-scroll */
.window-scroll {
  background-color: var(--color-nav-bg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.navbar-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-items a {
  font-size: 0.9rem;
  transition: var(--transition);
}
.nav-items a:hover {
  color: var(--color-success);
}
.navbar-container button {
  display: none;
}
.logo span {
  font-size: 2rem;
  font-weight: 700;
}
.logo sub {
  font-size: 0.5rem;
}
