@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #000957;
  --color-success: #344cb7;
  --color-warning: #ebe645;
  --color-btn: #c74b50;
  --color-nav-bg: #ff1818;
  --color-light: #eeeeee;
  --color-black: #000;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container--width-sm: 95%;
  --transition: all 400ms ease;
}
body {
  background-color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  color: var(--color-light);
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section {
  padding: 6rem 0;
}
section h2 {
  text-align: center;
  margin: 2rem;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
a {
  color: var(--color-light);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  background-color: var(--color-light);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 10px;
  display: inline-block;
  font-weight: 500;
  transition: var(--transition);
}
.btn:hover {
  background-color: transparent;
  color: var(--color-light);
  border-color: var(--color-light);
}
.btn-primary {
  background-color: var(--color-btn);
  color: var(--color-light);
}
